parameters:
    level: 5
    paths:
        - public
        - src
        - tests
        - console.php
        - phinx.php
    ignoreErrors:
        -
            message: '#Variable \$[a-zA-Z0-9\\_]+ might not be defined.#'
            paths:
                - src/Gameplay/Infra/Endpoints/Bag/Templates
                - src/Gameplay/Infra/Endpoints/Battle/Templates
                - src/Gameplay/Infra/Endpoints/Index/Templates
                - src/Gameplay/Infra/Endpoints/Map/Templates
                - src/Gameplay/Infra/Endpoints/Party/Templates
                - src/Gameplay/Infra/Endpoints/Player/Templates
                - src/Gameplay/Infra/Endpoints/Pokedex/Templates
                - src/Habit/Templates
                - src/SharedKernel/Templates
                - src/Templates
