parameters:
    level: 0
    paths:
        - public
        - src
        - tests
        - convert.php
        - download.php
        - generate.php
        - import.php
        - phinx.php
        - simulate.php
