parameters:
    level: 5
    paths:
        - public
        - src
        - tests
        - console.php
        - phinx.php
    ignoreErrors:
        -
            message: '#Variable \$[a-zA-Z0-9\\_]+ might not be defined.#'
            paths:
                - src/Battle/Templates
                - src/Habit/Templates
                - src/Pokedex/Templates
                - src/Team/Templates
                - src/Templates
